.wrapper-footer{
    border-top: 1px solid #000;
    margin-top: 50px;

}
.wrapper-footer img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
.footer-content ul {
    list-style: none;
   
}
.footer-content ul a{
    text-decoration: none;
    color: #000;
    font-size: 18px; 
   
}
.wrapper-footer .footer-content .download-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;

}
.wrapper-footer .footer-content .download-app img{
   width: 250px;
   margin-top: 20px;
   cursor: pointer;

}
.footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
}